.text {
    color: white;
    margin: 0;
    padding: 0;
    padding: 5px 0px;
    z-index: 30;
    &.small {
        font-size: 24px;
        font-weight: 300;
        line-height: 41px;
        @include breakpoint(medium down) {
            font-size: 20px;
            line-height: 24px !important;
            
        }
    }
    &.medium {
        @include breakpoint(medium down) {
            font-size: 30px;   
            line-height: 30px;   

        }
        font-size: 50px;
        line-height: 63px;
    }
    &.large {
        font-size: 80px;
        // line-height: 95px;
        @include breakpoint(medium down) {
         font-size: 55px;   
        }
    }
    &.title {
        text-shadow: 0 3px 99px rgba(0, 0, 0, 0.05);
        font-weight: bold;
    }
    &.footer-text {
        font-family: Poppins;
        font-size: 27px;
        color: #868686;
    }
    &.intro-bg-text {
        font-size: 153px;
        line-height: 153px;
        font-weight: bold;
        letter-spacing: -4.44px;
        color: #292934;
        text-shadow: 0px 3px 99px #0000002C;
    }
    &.intro-text {
        line-height: 153px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        // top: 50%;
    }
}

.inner-modern_part-1 {
    .small {
        font-size: 35px !important; 
        font-weight: 400;
        line-height: 35px;
        // color: red;
    }
    .medium {
        font-size: 45px !important;
        line-height: 45px;
        font-weight: 500;
        margin: 10px 0;
        // color: orange;
        
    }

    .large {
        font-size: 55px !important;
        line-height: 55px;
        font-weight: 700;
        // color: green;
    }
}
.inner-modern_part-3 {
    .medium {
        font-size: 45px !important;
        line-height: 45px;
        font-weight: 500;
        margin: 10px 0;
        // color: orange;
        
    }
}