.footer {
    display: flex;
    justify-content: center;
    background-color: #292934;
    height: 20vh;
    width: 100vw;
    align-items: center;
    position: relative;

}
.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    position: absolute;
    right: 2%;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 0;
    padding: 0;
}