.hero {
    width: 100vw;
    min-height: 100vh;
    // background-color: #7a80d1;
    background: transparent linear-gradient(180deg, #7A80D1 0%, #474B84 100%) 0% 0% no-repeat padding-box;
    position: relative;
}

.inner-hero {
    display: flex;
    flex-direction: column !important;
    // @include flex-grid-row();
    padding: 0 15px;

    &::before {
        // content: "Newolution" !important;
        position: absolute;
        text-shadow: 0 3px 99px rgba(0, 0, 0, 0.08);
        font-family: Poppins;
        font-size: 20vw;
        font-weight: bold;
        color: #7a80d1;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

    }
}
.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 15px;
    padding-top: 20px;
    padding-right: 3rem;
}
.hero-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    overflow: hidden;
    height: 90vh;

    @include breakpoint(medium down) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        .hero-content_part-1 {
            width: 100%;
        }
        .hero-content_part-2 {
            justify-content: flex-start;
            width: 100%;
            background-image: url("../images/Group\ 51\ \(1\).png");
            background-size: cover;

            img {
                display: none;
            }

        }

    }
}

.hero-content_part-1 {
    width: 45vw;
    @include flex-grid-column();

    

    .small {
        line-height: 40px;
        // color: red;
    }
}
.hero-content_part-2 {
    width: 45vw;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    @include flex-grid-column();

    // height: 100%;
    position: relative;
    overflow: hidden;
    height: 90vh;

    img {
        z-index: 100;
        height: 130%;
        transform: translateX(10%);
        // max-height;
    }
}

.hero-links {
    // display: flex;
    margin-top: 20px;
    @include breakpoint(medium down) {
        height: 160px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;     
    }
    a {
        height: auto;
        width: auto;
        margin: 0;
        margin-right: 20px;
        padding: 0;

        img {
            width: 186px;
            height: 55px;
        }
    }
}
