
.main-container {
    @include grid-row();   
    // max-width: 85rem;
    flex-flow: unset;
}


* {
    font-family: Poppins;
    user-select: none;
    outline: none;

}
body {
    overflow-x: hidden;
    background-color: #292934; 
}